.user-profile {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.nav-menu a {
    font-size: 15px;
    margin: 2px 5px;
    padding: 2px 5px;
    color: white;
}
.header-section{
    background-color: #151515;
}
.jayeensgym-logo {
    width: 205px;
    height: 50px;
}
img {
    width: 100%;
    height: 100%;
}