.user-profile {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.header-nav {
    align-items: center;
}
.nav-menu a {
    font-size: 15px;
    margin: 2px 5px;
    padding: 2px 5px;
    color: white;
}
.header-section{
    background-color: #0F1D22;
}
.jayeensgym-logo {
    width: 250px;
}
img {
    width: 100%;
    height: 100%;
}
.nav-button:hover {
    color: white;
    border: 1px solid #C9AB81;
    background-color: #C9AB81;
    transition: 1s;
}

.nav-button {
    padding: 5px 10px;
    margin: 0 8px;
    background-color: #182326;
    border-radius: 10px;
    border: 1px solid #C9AB81;
    color: white;
}
.profile-name{
    padding: 5px 10px;
    background-color: #14272e;
    border: 1px solid #C9AB81;
    border-radius: 10px;
}
.navbar-light .navbar-toggler-icon{
    background-image: url('../../../images/toggle-button.svg')!important;
}
/* media query */
@media only screen and (max-width:768px){
    .nav-menu {
        margin: 22px 0px;
    }
    .nav-menu a {
        font-size: 18px;
    }
    .profile-name{
        margin: 16px;
    }
    .nav-buttons {
        margin: 20px;
    }
}
