.banner-section {
    background-image: url('../../images/banner-background.jpg'),linear-gradient(rgb(0 0 0 / 56%),rgb(0 0 0 / 50%));
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
    text-align: left;
    display: flex;
    align-items: center;
}
/* services section */
.services-section {
    padding: 5% 0%;
}

/* book constructor section */
.bookinstructor-section {
    padding: 5% 0;
}
.bi-contents h2 {
    font-size: 160px;
    font-weight: 700;
    background-image: url('../../images/banner-background1.jpg');
    -webkit-background-clip: text;
    color: transparent;
    background-size: contain;
    background-position: center;
}
.bi-contents a{
    text-align: center;
    width: 200px;
    background-color: #0F1D22;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid #C9AB81;
}
.bi-contents a:hover {
    border: 1px solid #C9AB81;
    transition: 1s;
    background-color: #C9AB81;
}
/* about section */
section.aboutus-section {
    padding: 5% 0;
}

@media only screen and (max-width:768px){
    .banner-section{
        height: 690px;
    }
    .bi-contents h2{
        background-size: cover;
    }
    .abt-detail{
        grid-template-columns: repeat(1,1fr);
    }
    .footer-call-email {
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        grid-gap: 0;
        letter-spacing: .5px;
        gap: 0;
        flex-wrap: wrap;
    }
    .abt-img{
        padding: 0px 40px 40px 0px;
    }
}